.download-menu {
    background-color: rgb(30, 76, 204);
    width: 20em;
    margin: calc(50vh - 4em) auto;
    text-align: center;
    color: #fff;
    padding: 0.5em;
}

.download-menu input {
    width: 100%;
    margin: 0.5em 0;
    height: 2em;
    line-height: 2em;
}

.download-menu a {
    display: block;
    height: 2em;
    line-height: 2em;
    background-color: rgb(11, 13, 26);
    color: #fff;
}

.download-menu a:hover {
    background-color: rgb(28, 33, 65);
    text-decoration: none;
}