html {
    font-size: 12px;
}

body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 4.5em 1fr;
    grid-template-rows: 3em 1fr 1.5em;
    grid-template-areas:  
        "header header"
        ". main"
        "footer footer";
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

header {
    grid-area: header;
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid rgba(255, 255, 255 .3);
    line-height: 3em;
    text-align: center;
    color: #fff;
    padding-left: 4.5em;
    position: fixed;
    width: 100%;
}

header > span {
    font-weight: 200;
    display: block;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

header > span::first-letter {
    color: rgb(30, 76, 204);
}

main {
    grid-area: main;
    background-color: rgb(31, 31, 31);
    color: #fff;
    padding: 1em;
}

footer {
    grid-area: footer;
    background-color: rgb(15, 15, 15);
    text-align: center;
    color: #fff;
}

@media (min-width: 575px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 767px) {
    html {
        font-size: 16px;
    }
    #root {
        grid-template-columns: 1fr 720px 1fr;
    }
}

@media (min-width: 991px) {
    html {
        font-size: 18px;
    }
    #root {
        grid-template-columns: 1fr 960px 1fr;
    }
}

@media (min-width: 1199px) {
    html {
        font-size: 20px;
    }
    #root {
        grid-template-columns: 1fr 1140px 1fr;
    }
}