@import './variables.scss';

.open-menu {
    & {
        background-color: $blue-color;
        width: 20em;
        margin: auto;
        text-align: center;
    }

    .option {
        & {
            float: left;
            width: 10em;
            padding: 0.5em;
        }

        &:hover {
            background-color: $light-color;
        }

        i {
            font-size: 1.5em;
        }

        span {
            font-weight: 200;
        }
    }

    .desc {
        clear: both;
        background-color: $menu-color;
        height: 2em;
        line-height: 2em;
    }
}