html {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e2e2;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 3em 1fr 1.5em;
    grid-template-areas: 
        "header header header"
        ". main ."
        ". footer .";
}

header {
    grid-area: header;
    line-height: 1.5em;
    font-size: 2em; 
    background: url("stripes-light.png"); /* Background pattern from Toptal Subtle Patterns */
    text-align: center;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

header i {
    margin-right: 0.5em;
}

header span {
    display: inline-block;
}

header span:first-letter{
    color: rgb(153, 43, 204);
}

main {
    grid-area: main;
    border-left: 0.1em solid rgba(0, 0, 0, .1);
    border-right: 0.1em solid rgba(0, 0, 0, .1);
    text-align: center;
    padding: 1em 0;
    background-color: #fff;
}

footer {
    grid-area: footer;
    background: url("prism.png"); /* Background pattern from Toptal Subtle Patterns */
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    color: #fff;
    line-height: 1.5em;
    text-align: center;
}

.container {
    position: relative;
    z-index: 20;

}

@media (min-width: 575px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 767px) {
    html {
        font-size: 16px;
    }
    #root {
        grid-template-columns: 1fr 720px 1fr;
    }
}

@media (min-width: 991px) {
    html {
        font-size: 18px;
    }
    #root {
        grid-template-columns: 1fr 960px 1fr;
    }
}

@media (min-width: 1199px) {
    html {
        font-size: 20px;
    }
    #root {
        grid-template-columns: 1fr 1140px 1fr;
    }
}