.edit-menu {
    width: 26em;
    height: 6em;
    background-color: rgb(30, 76, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
}

.edit-menu .option {
    width: 6.5em;
    height: 4em;
    text-align: center;
    line-height: 2em;
}

.edit-menu .option span {
    font-weight: 200;
}

.edit-menu .desc {
    width: 13em;
    height: 2em;
    line-height: 2em;
    background-color: rgb(11, 13, 26);
    text-align: center;
}

.edit-menu .option:nth-child(2) {
    border-right: 0.1em solid #fff;
}

.edit-menu .option:hover {
    background-color: rgb(42, 99, 255);
    cursor: pointer;
}
